<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visaulización de clientes</title>
    <script>
        function toggleSearch() {
            var busquedaInput = document.getElementById("busqueda");
            if (busquedaInput.style.display === "none") {
                busquedaInput.style.display = "block";
            } else {
                busquedaInput.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>Documento cliente</tr>
                <tr>Nombre cliente</tr>
                <tr>Apellido cliente</tr>
                <tr>Numero contacto</tr>
                <tr>Correo electronico</tr>
                <tr>Direccción</tr>
                <tr>Tipo persona</tr>
            </thead>
        </table>
        <div>
            <h1>Clientes</h1>
    
            <!-- Botón de búsqueda -->
            <button onclick="toggleSearch()">Mostrar Búsqueda</button>
            
            <!-- Campo de búsqueda (inicialmente oculto) -->
            <div id="busqueda" style="display: none;">
                <form method="POST" action="/buscar_cliente">
                    <label for="busqueda">Buscar Cliente:</label>
                    <input type="text" id="busquedaInput" name="busqueda" required>
                    <input type="submit" value="Buscar">
                </form>
            </div>
        
        </div>
    </div>
</body>
</html>