@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;500&display=swap');


/* Establece el color de fondo del cuerpo de la página */
body {
    background-color: #f2f2f2;
}

/* Estilo del formulario de inicio de sesión */
.formulario {
    max-width: 275px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario en la página */
    margin-top: 50px; /*distancia en el contenido de ariba entre el formulario*/
    background-color:#007FE0; /* Color de fondo del formulario */
    padding: 20px; /* Espacio interno del formulario */
    border-radius: 8px; /* Borde redondeado del formulario */
}

/* Estilo para centrar la imagen del logotipo */
.imagen {
    text-align: center; /* Centrar el contenido de la imagen */
    margin-bottom: 20px; /* Espacio inferior de la imagen */
}

/* Estilo para ajustar el tamaño de la imagen del logotipo */
.imagen img {
    width: 200px; /* Ancho de la imagen */
    height: auto; /*largo de la imagen */
}

/* Estilo para el espacio superior del formulario */
form {
    margin-top: 10px;
}

/* Estilo de los elementos de correo electrónico y contraseña */
.correo,
.contraseña {
    margin-bottom: 10px; /* Espacio inferior de los campos de entrada */
}

/* Estilo para las etiquetas de correo electrónico y contraseña */
label {
    display: block; /* Convertir las etiquetas en elementos de bloque */
    font-weight: bold; /* Fuente en negrita */
    margin-bottom: 10px; /* Espacio inferior de las etiquetas */
    color: #f2f2f2;
}

/* Estilo para los campos de entrada de correo electrónico y contraseña */
input[type="email"],
input[type="password"] {
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 5px; /* Espacio interno del campo de entrada */
    border: none; /* Sin bordes alrededor del campo de entrada */
    border-bottom: 2px solid #ffffff; /* Línea inferior del campo de entrada */
    background-color: transparent; /* Fondo transparente del campo de entrada */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.51); 
}

/* Estilo del botón de "Ingresar" */
input[type="submit"] {
    margin: 0 auto; /* Centrar el boton*/
    display: block; /* Convertir el botón en un elemento de bloque */
    width: 90%; /* Ancho completo del botón */
    padding: 15px; /* Espacio interno del botón */
    margin-top: 35px; /* Espacio superior del botón */
    border: none; /* Sin bordes alrededor del botón */
    border-radius: 15px; /* Borde redondeado del botón */
    background-color: #0065B3; /* Color de fondo del botón */
    color: #FFF; /* Color del texto del botón */
    font-weight: bold; /* Fuente en negrita del texto del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

/* Estilo para los enlaces "Usuario Guella", "Crear Usuario" y "¿Olvidaste tu contraseña?" */
.huellas,
.usuario,
.olvidaste-contraseña {
    text-align: center; /* Centrar el texto de los enlaces */
    margin-top: 18px; /* Espacio superior de los enlaces */
}

/* Estilo para los enlaces dentro de las clases .guellas, .usuario y .olvidaste-contraseña */
.huellas a,
.usuario a,
.olvidaste-contraseña a {
    color: #cacaca; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
}
/* Estilo para el efecto de resaltado al pasar el cursor sobre los enlaces */
.huellas a:hover,
.usuario a:hover,
.olvidaste-contraseña a:hover {
    color: #0e0b0a; /* Color de resaltado al pasar el cursor */
}
input[type="button"]:hover{
    color: #000000;
}
