<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visaulización de clientes</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>Documento cliente</tr>
                <tr>Nombre cliente</tr>
                <tr>Apellido cliente</tr>
                <tr>Numero contacto</tr>
                <tr>Correo electronico</tr>
                <tr>Direccción</tr>
                <tr>Tipo persona</tr>
            </thead>
        </table>
    </div>
</body>
</html>