<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
</head>
<body>
    <h2>Proveedores</h2>

    <table class="table " id="tabla_productos">
        <thead >
            <tr>
                <th>docprov</th>
                <th>nomprov</th>
                <th>contprov</th>
                <th>emaprov</th>
                <th>direprov</th>
            </tr>
        </thead>

        <tbody>
            {% for c in resul %}
                <tr>
                    {% for i in range(0,5) %}

                        <td>{{c[i]}}</td>

                    {% endfor %}

                        <td>
                            <a href="/{{c[0]}}">Editar</a>
                        </td>

                        <td>
                            <a  onclick="return confirm('Seguro que deseas eliminar el producto?')" href="/{{c[0]}}">Eliminar</a>
                        </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{resul2}}
    
</body>
</html>