<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar proveedores | vista del administrador</title>
</head>
<body>
    <form action="/crearProveedores" method="post">
        <input type="number" name="documentoProveedor" id="documentoProvedor">
        <input type="text" name="nombreProveedor" id="nombreProveedor"> 
        <input type="number" name="numeroProveedores" id="numeroProveedores">
        <input type="email" name="correoProveedores" id="correoProveedores" >
        <input type="text" name="direccionProveedores" id="direccionProveedores">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>