<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/crearProveedores" method="post">
        <input type="number" name="documentoProveedor" id="documentoProvedor" placeholder="Ingrese su documento">
        <input type="text" name="nombreProveedor" id="nombreProveedor" placeholder="Ingrese su nombre">
        <input type="number" name="numeroProveedores" id="numeroProveedores" placeholder="Ingrese su numero telefonico">
        <input type="email" name="correoProveedores" id="correoProveedores" placeholder="Ingrese su correo">
        <input type="text" name="direccionProveedores" id="direccionProveedores" placeholder="Ingrese su dirrecion">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>